api-mulesoft/users-sapi/src/main/mule/users.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="getUsers" doc:id="27c1f3b5-ce16-465a-ade7-bb70db797ed2" >
		<set-payload value='#[output text&#10;import queryStringByParams from modules::utils&#10;var params = {&#10;	email: " email = :email ",&#10;	username: " username = :username ",&#10;	role: " role = : role "&#10;}&#10;---&#10;queryStringByParams(vars.query,params)]' doc:name="Set Payload" doc:id="1298606d-6ddc-42f6-8cc7-84857f7fdfbe" />
		<db:select doc:name="Select" doc:id="8f640217-d5c2-4ba1-a5a9-4d6674b6f69a" config-ref="Database_Config">
			<db:sql ><![CDATA[#["SELECT id, email, username FROM users $(payload)"]]]></db:sql>
			<db:input-parameters ><![CDATA[#[vars.query]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[output json&#10;---&#10;payload]" doc:name="Set Payload" doc:id="22888f91-0ade-4ac7-b2cb-dae7eb6455d4" />
	</flow>
	<flow name="createUser" doc:id="3fc4295d-82bc-48c2-b9aa-f8fe28b40994" >
		<db:insert doc:name="Insert" doc:id="accd1943-d598-47dc-997b-1221b0f6ff89" config-ref="Database_Config" autoGenerateKeys="true">
			<db:sql ><![CDATA[${file::db/queries/insert/users.sql}]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
			<db:auto-generated-keys-column-names >
				<db:auto-generated-keys-column-name value="id" />
				<db:auto-generated-keys-column-name value="email" />
				<db:auto-generated-keys-column-name value="role" />
				<db:auto-generated-keys-column-name value="username" />
			</db:auto-generated-keys-column-names>
		</db:insert>
		<set-payload value="#[output json&#10;---&#10;payload.generatedKeys]" doc:name="Set Payload" doc:id="0f8a8970-54a2-48b9-afbb-35e5fa480184" />
	</flow>
	<flow name="removeOldUsers" doc:id="9fa8295a-de94-47a4-8dfd-2d2b9f484058" >
		<scheduler doc:name="Scheduler" doc:id="c7c7f511-8b3a-4777-b531-5c78ee59a8e5" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<db:delete doc:name="Delete" doc:id="c14f9a75-0a4f-4a67-a98c-1ba739cb6c58" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM users WHERE role != 'admin' and created_on <= (current_timestamp - interval '30 DAY')]]></db:sql>
		</db:delete>
	</flow>
	<flow name="getUser" doc:id="2efe57a7-c80c-4f94-ac89-c6367d2f0db3" >
		<db:query-single doc:name="Query single" doc:id="025e3086-bc01-469b-b376-66ef97d11513" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT id, email, username, role FROM users WHERE id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[output json
---
{
	id: vars.id
}]]]></db:input-parameters>
		</db:query-single>
		<set-payload value="#[output json&#10;---&#10;payload]" doc:name="Set Payload" doc:id="37819a61-c8d2-4a9d-b30a-c81c1ce94e74" />
	</flow>
</mule>
