api-mulesoft/mule-eapi/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3c6e1dc1-cd1c-4428-a446-b29adf62c22b" basePath="api">
        <http:listener-connection host="0.0.0.0" port="8081" />
        <http:listener-interceptors>
            <http:cors-interceptor>
                <http:origins>
                    <http:public-resource />
                </http:origins>
            </http:cors-interceptor>
        </http:listener-interceptors>
    </http:listener-config>
	<flow name="mule-eapiFlow" doc:id="2bc1c443-505a-4379-a349-9c1ea150d882">
        <http:listener doc:name="Listener" doc:id="76281905-148c-49db-b838-d984fa8316af" config-ref="HTTP_Listener_config" path="/monitoring/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<set-payload value='#[output json&#10;---&#10;""]' doc:name="Set Payload" doc:id="9044398d-4aad-470f-bfe7-cd2e6cf5d3e7" />
		<error-handler ref="Error_Handler_Specs" />
    </flow>
    <flow name="get:\v1\kafka:Router">
		<flow-ref doc:name="Flow Reference" doc:id="34871c16-6a94-4d45-9e77-9d4a5fdc04fe" name="get-kafka-health"/>
    </flow>
    <flow name="get:\v1\postgres:Router">
		<flow-ref doc:name="Flow Reference" doc:id="1569e9b1-db1c-4baa-8d7a-dbd6b18483b8" name="get-postgres-health" />
    </flow>
	<flow name="interfaceFlow" doc:id="f1b37f01-2f6e-4f3c-975a-d6748037af0a" >
		<http:listener doc:name="Listener" doc:id="3899ffea-46e0-4fd4-a5d4-56169ae932c8" config-ref="HTTP_Listener_config" path="/health"/>
		<set-payload value='#[output json&#10;---&#10;"OK"]' doc:name="Set Payload" doc:id="801c1691-4a0b-4ba1-8c6a-9084bdd19b1b" />
	</flow>
</mule>
