api-mulesoft/mule-eapi/src/main/mule/mule-eapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3c6e1dc1-cd1c-4428-a446-b29adf62c22b" basePath="api" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-eapiFlow" doc:id="2bc1c443-505a-4379-a349-9c1ea150d882" >
		<http:listener doc:name="Listener" doc:id="334d88f8-70b9-4c2d-bd49-1645281ca0a6" config-ref="HTTP_Listener_config" path="/teste"/>
		<set-payload value='#[output json&#10;---&#10;"aaaaaaaaaaa"]' doc:name="Set Payload" doc:id="78774dd9-cacb-4de0-97a2-a22bc3481e8a" />
	</flow>
</mule>
