api-mulesoft/mule-eapi/src/main/mule/orders-interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="orders-config" api="orders.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="orders-main">
        <http:listener config-ref="HTTP_Listener_config" path="/orders/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="orders-config" />
        <error-handler ref="Error_Handler_Specs" />
    </flow>
    <flow name="post:\v1\:application\json:orders-config">
        <set-variable value="#[attributes.queryParams]" doc:name="Set Variable" doc:id="fd674d94-3b01-46f7-9327-a440721fcec3" variableName="query" />
        <flow-ref doc:name="Flow Reference" doc:id="355a82bf-fa35-45d8-8e31-643f97d49ac4" name="validateJWT" target="user" />
        <flow-ref doc:name="Flow Reference" doc:id="78b8a35d-dbc5-4c8a-824b-038d305475b4" name="createOrder" />
    </flow>
    <flow name="get:\v1\:orders-config">
		<set-variable value="#[attributes.queryParams]" doc:name="Set Variable" doc:id="24685ff5-8181-4329-b666-7d2d05d98214" variableName="query" />
		<flow-ref doc:name="Flow Reference" doc:id="1e150780-55fb-489d-bcaf-8ccdcd234af0" name="validateJWT" target="user" />
		<flow-ref doc:name="Flow Reference" doc:id="534f790f-6154-4ae9-9e6b-1a327cd8f25b" name="getOrders"/>
    </flow>
</mule>
