api-mulesoft/mule-eapi/src/main/mule/orders.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="createOrder" doc:id="774dbd99-0ece-4cfc-abc4-bc391ffc58e9" >
		<set-payload value="#[output json&#10;---&#10;payload ++ {&#10;	userId: vars.user.userId&#10;}]" doc:name="Set Payload" doc:id="237caced-b40b-4a5f-b518-e94f37b11a49" />
		<http:request method="POST" doc:name="Request" doc:id="3860f0cb-e2af-4d4d-9cf5-30dbaa0786e3" config-ref="Orders_Request_configuration" path="/">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"version" : 1
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[vars.query]]]></http:query-params>
		</http:request>
	</flow>
	<flow name="getOrders" doc:id="4aaabcca-242e-43b8-8b15-2c8bd066d6ef" >
		<http:request method="GET" doc:name="Request" doc:id="233c47c5-7769-426d-baaa-60bc22f66a2d" config-ref="Orders_Request_configuration" path="/" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"version" : 1
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[(vars.query default {}) ++ {
	userId: vars.user.userId
}]]]></http:query-params>
		</http:request>
	</flow>
	<flow name="orderDelivery" doc:id="1b3a7141-f6ad-4957-abcb-04b082567d8a" >
		<set-payload value="#[output json&#10;---&#10;payload ++ {&#10;	userId: vars.user.userId&#10;}]" doc:name="Set Payload" doc:id="d0b0e440-58b8-4351-823a-ebf849bfe982" />
		<http:request method="POST" doc:name="Request" doc:id="ffb255fd-0145-418a-9826-a6738fcef5b0" config-ref="Orders_Request_configuration" path="/{id}/delivery" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : vars.id,
	"version" : 1
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[(vars.query default {})]]]></http:query-params>
		</http:request>
	</flow>
	<flow name="orderPayment" doc:id="c0b33f88-2b29-4161-843f-8d8efc7d42ac" >
		<set-payload value="#[output json&#10;---&#10;{&#10;	userId: vars.user.userId&#10;} ++ payload]" doc:name="Set Payload" doc:id="cbe6396a-bb57-4b4d-809e-4422c821789f" />
		<http:request method="PATCH" doc:name="Request" doc:id="053639ad-dc6b-4c9f-90ff-b8d5c73d3e74" config-ref="Orders_Request_configuration" path="/{id}/payment" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : vars.id,
	"version" : 1
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[(vars.query default {})]]]></http:query-params>
		</http:request>
	</flow>
</mule>
