api-mulesoft/orders-papi/src/main/mule/orders.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<os:object-store name="Object_store" doc:name="Object store" doc:id="4aa5ffa2-892b-4701-ad01-f7875162366b" entryTtl="2" entryTtlUnit="HOURS" expirationInterval="2" expirationIntervalUnit="HOURS" />
	<flow name="createOrder" doc:id="ef0a3268-563a-4c78-9756-a7c4034cd5c8" >
		<set-payload value='#[output json&#10;---&#10;payload ++ {&#10;	id: uuid(),&#10;	status: "WTNG"&#10;}]' doc:name="Set Payload" doc:id="edefee02-9b73-4756-873d-14165be61c5f" />
		<flow-ref doc:name="Flow Reference" doc:id="42a56457-aad1-4d13-a003-368181ebfb50" name="processCreateOrder"/>
		<set-payload value='#[output json&#10;---&#10;{&#10;	description: if (vars.dbError) "Order will be processed as soon as possible" else "Success processing order"&#10;}]' doc:name="Set Payload" doc:id="7591598b-9bec-42d0-934a-971b9f90f471" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4d010b80-8c87-486d-b7f2-73622a0030a7" >
				<os:store doc:name="Store" doc:id="f667a2e6-e0a5-4f32-bfa7-112c20900072" key="#[payload.id]" objectStore="Object_store"/>
				<set-payload value='#[output json&#10;---&#10;{&#10;	description: "Order will be processed as soon as possible"&#10;}]' doc:name="Set Payload" doc:id="89bf7e7b-6a63-4740-9b57-38d13b2ec3f8" />
			</on-error-continue>
		</error-handler>
	</flow>
	<sub-flow name="sendKafkaOrder" doc:id="17004982-cc5e-4c5b-b3d7-d25c3e025a8b" >
		<try doc:name="Try" doc:id="b59d0b06-21d0-48b7-b4a8-62cd35fc2f8d">
			<set-payload value='#[output json&#10;---&#10;payload ++ {&#10;	action: if (vars.dbError default false) "create" else "update",&#10;	eventType: "ORDER_CREATED",&#10;	eventId: correlationId&#10;}]' doc:name="Set Payload" doc:id="7076e110-998d-48bd-aa66-fe1b83262a3a" />
			<validation:is-true doc:name="Is true" doc:id="bc960a50-08f0-4ca0-bcbf-30b1b637f6c1" expression="#[vars.query.kafkaActive default true]" message="Kafka Inactive Prop" />
			<kafka:publish-message doc:name="Publish message" doc:id="9a4e8271-f115-40fd-abd9-de54073ee19a" config-ref="Kafka_Producer_config" topic="orders" key="#[payload.id]" target="kafkaError" targetValue="#[false]">
				<kafka:message><![CDATA[#[output json
---
payload]]]></kafka:message>
			</kafka:publish-message>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b7a9d87c-3847-45aa-8bbd-866bc64fbc33">
					<logger level="INFO" doc:name="Logger" doc:id="b211fc13-eece-4011-ac88-8be6febb0278" message='#[output json&#10;---&#10;{&#10;	message: "Error sending order to Kafka Saving on retry",&#10;	payload: payload&#10;}]' />
					<validation:is-true doc:name="Is true" doc:id="52496d5b-9d25-45f4-9d75-2a18b455df77" expression="#[vars.query.dbActive default true]" />
					<http:request method="POST" doc:name="Request" doc:id="5558e264-46e5-453d-ba78-07f95ccd0118" config-ref="Orders_Request_configuration" path="/retry" target="dbError" targetValue="#[false]">
						<http:body><![CDATA[#[output json
---
{
	reason: "KAFKA ERROR $(error.detailedDescription)",
	eventId: correlationId,
	order: payload
}]]]></http:body>
						<http:uri-params><![CDATA[#[output application/java
---
{
	"version" : 1
}]]]></http:uri-params>
					</http:request>
					<set-payload value='#[output json&#10;---&#10;{&#10;	description: "Order will be processed as soon as possible"&#10;}]' doc:name="Set Payload" doc:id="3aea7354-a619-4198-bdb9-1a563fc2ca23" />
					<set-variable value="#[200]" doc:name="Set Variable" doc:id="931e23d0-27a7-4bf3-a763-f12a9beca625" variableName="httpStatus" />
				</on-error-continue>
			</error-handler>
		</try>
	</sub-flow>
	<sub-flow name="processCreateOrder" doc:id="02846126-5c2e-4731-b2ca-fb05b4d7932e" >
		<try doc:name="Try" doc:id="50ef34af-5bdb-4e35-9612-c70f2baedd2d" >
			<validation:is-true doc:name="Is true" doc:id="e7c56600-7c6f-4d1e-88f9-8868bb097eec" expression="#[vars.query.dbActive default true]" />
			<http:request method="POST" doc:name="Request" doc:id="43038c3f-0c65-44b0-9e7e-be47f661923e" config-ref="Orders_Request_configuration" path="/" target="dbError" targetValue="#[false]" >
				<http:body ><![CDATA[#[output json
---
payload -- ['items']]]]></http:body>
				<http:uri-params ><![CDATA[#[output application/java
---
{
	"version" : 1
}]]]></http:uri-params>
			</http:request>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="e8999f9b-fa5a-45ec-b96e-d092e08d370d" >
					<set-variable value="#[true]" doc:name="Set Variable" doc:id="68178e71-6d69-45bf-a034-a4a0095ac8c6" variableName="dbError" />
					<set-variable value="#[200]" doc:name="Set Variable" doc:id="6c6a243a-21df-4aa5-b679-c5245cdd5518" variableName="httpStatus" />
					<logger level="INFO" doc:name="Logger" doc:id="63fae2b8-3181-4e1b-a538-6c7b4e2a912b" message='#[output json&#10;---&#10;{&#10;	message: "Error saving order in DB",&#10;	payload: payload&#10;}]' />
				</on-error-continue>
			</error-handler>
		</try>
		<flow-ref doc:name="Flow Reference" doc:id="ec7d1b1d-caa3-4e70-8f9d-3d2e2ae6fd6c" name="sendKafkaOrder"/>
	</sub-flow>
	<flow name="retryOrders" doc:id="c6838c9d-9d12-427d-b9c0-17bdd5209176" >
		<scheduler doc:name="Scheduler" doc:id="330011c2-3843-49b5-b166-42e46395211f" >
			<scheduling-strategy >
				<fixed-frequency frequency="5" startDelay="5" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<http:request method="GET" doc:name="Request" doc:id="0e223ddd-75d3-4086-bee0-a989e6dfddf6" config-ref="Orders_Request_configuration" path="/retry">
			<http:body ><![CDATA[#[output json
---
payload]]]></http:body>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"version" : 1
}]]]></http:uri-params>
		</http:request>
		<foreach doc:name="For Each" doc:id="70b1be6a-21f6-42fa-9f47-a29a599705a7" >
			<set-variable value='#[output json&#10;---&#10;payload -- ["data"]]' doc:name="Set Variable" doc:id="f2b403cf-4d4e-42eb-8297-b8895819b1cb" variableName="event"/>
			<try doc:name="Try" doc:id="98b678c5-fedb-4d67-9817-f37f8246f8ab" >
				<set-payload value="#[output json&#10;---&#10;payload.data]" doc:name="Set Payload" doc:id="99597ddb-4e74-467c-afd4-eb6b5241b674" />
				<choice doc:name="Choice" doc:id="75b7cf7f-b4d7-4da5-8e66-7e98a5aaa368">
			<when expression='#[payload.eventType == "ORDER_CREATED"]'>
				<flow-ref doc:name="Flow Reference" doc:id="316d55f9-f4ae-464f-9a63-1d2021448002" name="sendKafkaOrder" />
			</when>
			<when expression='#[payload.eventType == "PAYMENT"]'>
						<set-variable value="#[payload.id]" doc:name="Set Variable" doc:id="59d6eb4c-8f8e-433f-ba3f-6bace9fb5a77" variableName="id" />
						<set-payload value="#[output json&#10;---&#10;payload.payment]" doc:name="Set Payload" doc:id="d07d0504-e187-4cd8-8389-74b04f5cf0bc" />
						<flow-ref doc:name="Flow Reference" doc:id="1251a010-fbaf-466a-9c7a-bce11d665505" name="kafkaPayment"/>
					
					</when>
					<when expression='#[payload.eventType == "DELIVERY"]'>
						<set-variable value="#[payload.id]" doc:name="Set Variable" doc:id="ea0474d1-e98c-4baf-94e0-3dda45be5312" variableName="id"/>
						<set-payload value="#[output json&#10;---&#10;payload.delivery]" doc:name="Set Payload" doc:id="a6141c21-57bf-452f-86f6-c002b8a49dc3" />
						<flow-ref doc:name="Flow Reference" doc:id="b0da3849-be77-4fcd-b44a-b1251a23e230" name="kafkaDelivery"/>
					
					</when>
		</choice>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4f0a51f0-1feb-416e-bf29-7bd391d45f8c" >
						<http:request method="PUT" doc:name="Request" doc:id="659f9b4a-40c8-4f98-ab59-f72db3669d14" config-ref="Orders_Request_configuration" path="/retry/{id}" >
							<http:body ><![CDATA[#[output json
---
{
	success: false,
	retries: vars.event.retries + 1
}]]]></http:body>
							<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : vars.event.id,
	"version" : 1
}]]]></http:uri-params>
						</http:request>
					</on-error-continue>
				</error-handler>
			</try>
			<http:request method="PUT" doc:name="Request" doc:id="d6224851-b0c7-4692-9c62-5a2881193d6f" config-ref="Orders_Request_configuration" path="/retry/{id}" >
				<http:body ><![CDATA[#[output json
---
{
	success: true,
	retries: vars.event.retries + 1
}]]]></http:body>
				<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : vars.event.id,
	"version" : 1
}]]]></http:uri-params>
			</http:request>
		</foreach>
	</flow>
	<flow name="OSRetryOrder" doc:id="d08a26e2-92c1-4810-86ed-e8054b3afecb" >
		<scheduler doc:name="Scheduler" doc:id="4c2a6f98-713e-40b3-80ac-62e0caa5f2a7" >
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="MINUTES" startDelay="5"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="c1037589-b083-43cd-bf1f-3f9fadf566d3" objectStore="Object_store"/>
		<foreach doc:name="For Each" doc:id="4c155177-519c-4cb7-b8a2-19f5cbe5bd10" >
			<set-variable value="#[payload]" doc:name="Set Variable" doc:id="18d6d607-241c-48cf-afd7-f6af39eb81f6" variableName="key"/>
			<os:retrieve doc:name="Retrieve" doc:id="61781b8b-c6f8-4c25-9a17-c79860d65580" key="#[payload]" objectStore="Object_store"/>
			<set-payload value="#[output json&#10;---&#10;payload]" doc:name="Set Payload" doc:id="16f0df67-9c82-41fe-96cb-5fdb7a0efb0a" />
			<try doc:name="Try" doc:id="21f6093a-aa2b-49d5-9d38-ac6116778106" >
				<choice doc:name="Choice" doc:id="3a21dc01-b91d-4836-a49b-a0c6ebfff09f">
					<when expression='#[payload.eventType == "ORDER_CREATED"]'>
						<flow-ref doc:name="Flow Reference" doc:id="a456eb55-f5cf-4ca7-a067-b708785b4337" name="processCreateOrder" />
					</when>
					<when expression='#[payload.eventType == "PAYMENT"]'>
						<set-variable value="#[payload.id]" doc:name="Set Variable" doc:id="02558703-17f4-4feb-810d-c1c7bc591ec8" variableName="id" />
						<set-payload value="#[output json&#10;---&#10;payload.payment]" doc:name="Set Payload" doc:id="e5e77648-2f59-4d54-a778-71ffc9a45296" />
						<flow-ref doc:name="Flow Reference" doc:id="37962bb3-c8c2-4997-8173-5b0643d721d6" name="kafkaPayment"/>
					
					</when>
					<when expression='#[payload.eventType == "DELIVERY"]'>
						<set-variable value="#[payload.id]" doc:name="Set Variable" doc:id="08ab0bf2-8485-44a9-bd00-128c84cbf653" variableName="id"/>
						<set-payload value="#[output json&#10;---&#10;payload.delivery]" doc:name="Set Payload" doc:id="441caed7-d81f-417d-9ba2-682569f5bb2a" />
						<flow-ref doc:name="Flow Reference" doc:id="5c520aca-3625-4f1a-a36f-a804016b3547" name="kafkaDelivery"/>
					
					</when>
				</choice>
				<os:remove doc:name="Remove" doc:id="f689495b-6ba5-411e-a398-9873bc0cf6b1" key="#[vars.key]" objectStore="Object_store"/>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="e891c86e-af7b-4516-b563-675fe0d5dac5" />
				</error-handler>
			</try>
		</foreach>
	</flow>
	<sub-flow name="orderCreatedRequests" doc:id="5e9057fb-55b5-48cd-9a55-85ab1e4a29c1" >
		<http:request method="PATCH" doc:name="Request" doc:id="3ed544f4-5c4c-40cb-8683-0e9ec0c84144" config-ref="Orders_Request_configuration" path="/{id}" target="res">
				<http:body><![CDATA[#[output json
var itemsValue = payload.items.price reduce ((item, acc = 0) -> acc + item)
---
{
	status: "PYMT",
	userId: payload.userId,
	itemsValue: itemsValue,
	shippingFee: 0,
	total: itemsValue,
	paymentMethod: payload.paymentMethod
}]]]></http:body>
				<http:uri-params><![CDATA[#[output application/java
---
{
	"id" : payload.id,
	"version" : 1
}]]]></http:uri-params>
			</http:request>
		<http:request method="POST" doc:name="Request" doc:id="0782c425-06ae-4304-b423-5ab14add87af" config-ref="Orders_Request_configuration" path="/{id}/items" target="res">
				<http:body><![CDATA[#[output json
---
payload.items]]]></http:body>
				<http:uri-params><![CDATA[#[output application/java
---
{
	"id" : payload.id,
	"version" : 1
}]]]></http:uri-params>
			</http:request>
		<foreach doc:name="For Each" doc:id="136aff6c-dc14-4f12-b605-78ae606a0a2e" collection="#[payload.items]">
				<http:request method="GET" doc:name="Request" doc:id="c4ef7f84-3106-4165-bf05-f908e381d8b7" config-ref="Items_HTTP_Request_config" path="/{id}/stock" target="stock">
					<http:uri-params><![CDATA[#[output application/java
---
{
	"id" : payload.id,
	"version" : 1
}]]]></http:uri-params>
				</http:request>
				<http:request method="PATCH" doc:name="Request" doc:id="bf3bec35-fceb-4d74-a4f2-eec58de9ce15" config-ref="Items_HTTP_Request_config" path="/{id}/stock" target="stock">
					<http:body><![CDATA[#[output json
---
{
	reservedQuantity: vars.stock.reserved_quantity + payload.quantity
}]]]></http:body>
					<http:uri-params><![CDATA[#[output application/java
---
{
	"id" : payload.id,
	"version" : 1
}]]]></http:uri-params>
				</http:request>
			</foreach>
	</sub-flow>
	<flow name="orderCreated" doc:id="6eeaaf67-619d-4c6d-be7d-aede312939a6" >
		<set-variable value="#[output json&#10;---&#10;[]]" doc:name="Set Variable" doc:id="3ddb398f-731e-4f90-89d2-5f7ed1cffffb" variableName="errorItems" />
		<foreach doc:name="For Each" doc:id="b7fe7837-cfc7-4838-9d94-6db3f2b85da9" collection="#[payload.items]">
				<until-successful maxRetries="5" doc:name="Until Successful" doc:id="6686b6eb-4e3a-4ee5-beae-3930a5109c33">
					<http:request method="GET" doc:name="Request" doc:id="a8fe5412-c43e-42f1-860a-daa0a79c93fe" config-ref="Items_HTTP_Request_config" path="/{id}" target="item">
				<http:uri-params><![CDATA[#[output application/java
---
{
	"id" : payload.id,
	"version" : 1
}]]]></http:uri-params>
			</http:request>
				</until-successful>
				<choice doc:name="Choice" doc:id="cf1ef72a-2911-4ae0-8387-be92bb3ed470">
					<when expression="#[isEmpty(vars.item) or vars.item.price != payload.price]">
						<set-variable value="#[output json&#10;---&#10;vars.errorItems ++ [&#10;	payload&#10;]]" doc:name="Set Variable" doc:id="a823ef92-b287-4f5c-ae0c-6d149f2d4a48" variableName="errorItems" />
					</when>
				</choice>
		</foreach>
		<validation:is-empty-collection doc:name="Is empty collection" doc:id="0c224633-8f3d-443d-ba88-65b5fec79feb" values="#[vars.errorItems]" />
		<flow-ref doc:name="Flow Reference" doc:id="906c7c39-0736-4d9f-8716-0b64733a2212" name="orderCreatedRequests"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a9a5d169-e54f-41f3-9ffb-61330eece802" type="VALIDATION:NOT_EMPTY_COLLECTION">
				<logger level="INFO" doc:name="Logger" doc:id="028fb5f5-6874-4bf8-a997-a0b56c2f137c" message='#[output json&#10;---&#10;{&#10;	message: "Found errors in Order Items",&#10;	orderId: payload.id,&#10;	items: vars.errorItems&#10;}]' />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="consumeOrders" doc:id="86e8aabd-92cd-4b82-bfa6-c33e4bd6aeff" >
		<kafka:message-listener doc:name="Message listener" doc:id="6e29aef7-644f-4266-8142-7dfcceb5f15c" config-ref="Kafka_Consumer_Configuration" pollTimeout="180" pollTimeoutTimeUnit="SECONDS" ackMode="AUTO" parallelConsumersAmount="3"/>
		<set-payload value='#[output json&#10;---&#10;read(payload,"json")]' doc:name="Set Payload" doc:id="9002946f-b612-4b49-be70-0fe325c639c4" />
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="2f580481-3d27-4dbd-96e7-3d67959af7e7" variableName="inputPayload" />
		<logger level="INFO" doc:name="Logger" doc:id="2c1cae52-f264-42de-a370-b977f23c2ee8" message='#[output json&#10;---&#10;{&#10;	message: "Processing Order",&#10;	payload: payload&#10;}]'/>
		<choice doc:name="Choice" doc:id="a38a8946-6021-4e1d-8955-2b93b64f4ca9" >
			<when expression='#[payload.eventType == "ORDER_CREATED"]'>
				<flow-ref doc:name="Flow Reference" doc:id="ecb50edf-e5de-496a-808b-029a48d5e970" name="orderCreated" />
			</when>
			<when expression='#[payload.eventType == "PAYMENT"]'>
				<flow-ref doc:name="Flow Reference" doc:id="0e085a0b-6ebc-4686-8625-308c961ff87f" name="orderPayment"/>
			</when>
			<when expression='#[payload.eventType == "DELIVERY"]'>
				<flow-ref doc:name="Flow Reference" doc:id="f6c29690-05e0-4f22-a3a3-c23bea7a43b8" name="orderDelivery"/>
			</when>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="507d2963-2c65-4f05-8e09-ff31d6939fec" message='#[output json&#10;---&#10;{&#10;	message: "Success processing Order",&#10;	payload: payload&#10;}]' />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8abf7119-4e39-4254-a721-6ef60595f047" >
				<logger level="ERROR" doc:name="Logger" doc:id="b443c707-3f0c-48cc-a9af-b45372c481c3" message='#[output json&#10;---&#10;{&#10;	message: "Error processing Order sending to DLQ",&#10;	payload: inputPayload&#10;}]' />
				<kafka:publish-message doc:name="Publish message" doc:id="2f567361-4ded-4a51-9836-2b49d65b9cff" config-ref="Kafka_Producer_config" topic="orders.dlq" key="#[vars.inputPayload.id]">
					<kafka:message><![CDATA[#[output json
---
vars.inputPayload]]]></kafka:message>
				</kafka:publish-message>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="orderPayment" doc:id="947ae9b7-4848-40e6-b8b1-b99c398858a6" >
		<http:request method="GET" doc:name="Request" doc:id="fe4a6ccd-1210-44c9-92e9-47d3b557c02f" config-ref="Orders_Request_configuration" path="/{id}" target="order">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id" : payload.id,
	"version" : 1
}]]]></http:uri-params>
		</http:request>
		<validation:validate-size doc:name="Validate size" doc:id="030ff98f-1c96-40dd-8d6f-beb2d54c5c56" value="#[vars.order]" min="1"/>
		<http:request method="POST" doc:name="Request" doc:id="471ab425-b05e-4135-98db-b0ee6f450137" config-ref="Orders_Request_configuration" path="/{id}/payments" target="res">
			<http:body><![CDATA[#[output json
---
payload.payment]]]></http:body>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id" : payload.id,
	"version" : 1
}]]]></http:uri-params>
		</http:request>
		<http:request method="GET" doc:name="Request" doc:id="55d14efe-a94f-4bd7-944b-c0482c818498" config-ref="Orders_Request_configuration" path="/{id}/payments" target="payments">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id" : payload.id,
	"version" : 1
}]]]></http:uri-params>
		</http:request>
		<set-variable value="#[output json&#10;---&#10;vars.payments.amount reduce (item, acc=0) -&gt; item + acc]" doc:name="Set Variable" doc:id="67bd4733-7a9a-4ae9-8ce7-6ac987085e6b" variableName="total"/>
		<choice doc:name="Choice" doc:id="03cd07e5-4f10-4526-a21f-4c9e1e0540b0" >
			<when expression="#[vars.total &gt;= vars.order.total]">
				<http:request method="PATCH" doc:name="Request" doc:id="5369a524-b7e5-4f44-8b78-2d4827072e73" config-ref="Orders_Request_configuration" path="/{id}" target="res" >
					<http:body ><![CDATA[#[output json
---
{
	status: "PCKG",
	userId: payload.payment.userId
}]]]></http:body>
					<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : payload.id,
	"version" : 1
}]]]></http:uri-params>
				</http:request>
			</when>
		</choice>
	</flow>
	<flow name="getOrders" doc:id="3f53f109-e4e2-4bef-bd39-6424f6a59566" >
		<set-variable value="#[output json&#10;---&#10;if (vars.query.pageSize? and vars.query.page?) {&#10;	limit: vars.query.pageSize,&#10;	offset: (vars.query.pageSize default 10) * ((vars.query.page default 1) - 1)&#10;} else {}]" doc:name="Set Variable" doc:id="30d266d7-b09a-4f62-9d87-67419a8e93be" variableName="ordersQuery" />
		<http:request method="GET" doc:name="Request" doc:id="0f564a30-19bb-47be-afd8-503447a73674" config-ref="Orders_Request_configuration" path="/">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"version" : 1
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[vars.ordersQuery ++ {
	userId: vars.query.userId
}]]]></http:query-params>
		</http:request>
		<set-variable value="#[output json&#10;---&#10;payload.metadata]" doc:name="Set Variable" doc:id="319f3da1-aa93-4645-bde7-cd4ca38f9452" variableName="metadata"/>
		<choice doc:name="Choice" doc:id="b7665c95-086f-4788-a3b2-0a3abf28906e" >
			<when expression="#[!isEmpty(payload.data)]">
				<parallel-foreach doc:name="Parallel For Each" doc:id="1ba6a9d4-7b68-44c1-802d-a65d31ba56c1" collection="#[payload.data]" maxConcurrency="10">
			<http:request method="GET" doc:name="Request" doc:id="bc21ea5f-0271-4750-b3c4-253e5e90b2c4" config-ref="Orders_Request_configuration" path="/{id}/items" target="items">
				<http:uri-params><![CDATA[#[output application/java
---
{
	"id" : payload.id,
	"version" : 1
}]]]></http:uri-params>
			</http:request>
					<set-payload value="#[output json&#10;---&#10;payload ++ {&#10;	items: vars.items&#10;}]" doc:name="Set Payload" doc:id="ee404abb-d0ac-4840-91b5-a086b7a014c1" />
					<remove-variable doc:name="Remove Variable" doc:id="b24e1d67-eea9-420e-a1b0-1670e01f0df1" variableName="items"/>
		</parallel-foreach>
				<set-payload value="#[output json&#10;---&#10;{&#10;	metadata: (vars.metadata default {}) ++ {&#10;		page: vars.query.page,&#10;		pageSize: vars.query.pageSize&#10;	},&#10;	data: payload.payload default []&#10;}]" doc:name="Set Payload" doc:id="7fb017f2-fc4c-419d-ab6f-7d8cff426bd6" />
			</when>
			<otherwise >
				<set-payload value="#[output json&#10;---&#10;{&#10;	metadata: (vars.metadata default {}) ++ {&#10;		page: vars.query.page,&#10;		pageSize: vars.query.pageSize&#10;	},&#10;	data: []&#10;}]" doc:name="Set Payload" doc:id="3474c558-504b-445a-8cce-3f02ced2577a" />
			</otherwise>
		</choice>
	</flow>
</mule>
