api-mulesoft/orders-sapi/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
    <apikit:config name="orders-config" api="orders.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="orders-main">
        <http:listener config-ref="HTTP_Listener_config" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="orders-config" />
        <error-handler ref="Error_Handler_Specs" />
    </flow>
    <flow name="post:\v1\:application\json:orders-config">
        <flow-ref doc:name="Flow Reference" doc:id="f6956824-3598-423d-b73a-ee507f42a374" name="createOrders" />
    </flow>
    <flow name="health" doc:id="e0ed5035-c717-425f-83c6-19e30df5b06c">
        <http:listener doc:name="Listener" doc:id="a3bea506-1009-42b6-a648-a07ab88aa69b" config-ref="HTTP_Listener_config" path="/health">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-payload value="#[output json&#xA;---&#xA;&quot;OK&quot;]" doc:name="Set Payload" doc:id="91ba8682-ddc1-4c79-845f-6eacc4ef34ab" />
    </flow>
    <flow name="post:\v1\retry:application\json:orders-config">
        <flow-ref doc:name="Flow Reference" doc:id="e2e9140d-7d20-4d04-bbfd-4c89e56410d8" name="createRetry" />
    </flow>
    <flow name="put:\v1\retry\(id):application\json:orders-config">
        <set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="d5edbb90-e676-4af4-8135-3714d6d4871a" variableName="id" />
        <flow-ref doc:name="Flow Reference" doc:id="600ebc73-584c-4e51-a9c0-004d4835cbe7" name="updateRetry" />
    </flow>
    <flow name="get:\v1\retry:orders-config">
        <flow-ref doc:name="Flow Reference" doc:id="0c689992-7ed5-4a52-95b8-277e32c56370" name="getRetries" />
    </flow>
    <flow name="patch:\v1\(id):application\json:orders-config">
        <set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="4766ade4-89d5-4e73-a716-e982c640378f" variableName="id" />
        <flow-ref doc:name="Flow Reference" doc:id="7abaacb4-7d27-4679-9ad2-4b3178d12275" name="mergeOrder" />
    </flow>
    <flow name="post:\v1\(id)\items:application\json:orders-config">
        <set-variable value="#[attributes.uriParams.'id']" doc:name="Set Variable" doc:id="04a93729-0867-4d01-8528-ef3c9021de85" variableName="orderId" />
        <flow-ref doc:name="Flow Reference" doc:id="6b2eb2ac-54d1-4895-88f2-837aaab0a131" name="insertOrderItems" />
    </flow>
    <flow name="get:\v1\:orders-config">
        <set-variable value="#[output json&#xA;---&#xA;attributes.queryParams]" doc:name="Set Variable" doc:id="179fb0fb-4e35-49c2-8413-c2dae3f3e6d7" variableName="query" />
        <flow-ref doc:name="Flow Reference" doc:id="321ebd89-bfcb-4f73-b831-50dd19e35836" name="getOrders" />
    </flow>
    <flow name="get:\v1\(id)\items:orders-config">
        <set-variable value="#[attributes.uriParams.'id']" doc:name="Set Variable" doc:id="0de28533-315e-417c-b47d-9974f443783e" variableName="orderId" />
        <flow-ref doc:name="Flow Reference" doc:id="642351fe-57e4-4c34-a5b1-dcadc0858777" name="getOrderItems" />
    </flow>
    <flow name="get:\v1\(id):orders-config">
        <set-variable value="#[attributes.uriParams.'id']" doc:name="Set Variable" doc:id="a36139a7-465e-4fa2-aab9-b1f907361091" variableName="id" />
        <flow-ref doc:name="Flow Reference" doc:id="46354583-e256-41a3-aba4-06d937b5353e" name="getOrder" />
    </flow>
    <flow name="get:\v1\(id)\payments:orders-config">
        <set-variable value="#[attributes.uriParams.'id']" doc:name="Set Variable" doc:id="e86a7400-9dac-418f-810a-abc70ee00230" variableName="id" />
        <flow-ref doc:name="Flow Reference" doc:id="32d6040e-f0f3-4388-8475-c3c079dbb532" name="getPayments"/>
    </flow>
    <flow name="post:\v1\(id)\payments:application\json:orders-config">
        <set-variable value="#[attributes.uriParams.'id']" doc:name="Set Variable" doc:id="5d323cfb-bb80-4492-91fa-092ad002c08d" variableName="id" />
		<flow-ref doc:name="Flow Reference" doc:id="44271218-89be-4750-b20e-65e78e5920cf" name="insertPayment"/>
    </flow>
</mule>
