api-mulesoft/orders-sapi/src/main/mule/orders.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="createOrders" doc:id="4c7863f0-46d5-41e2-a2f9-7ed9044aea1c" >
		<db:insert doc:name="Insert" doc:id="72a95ce7-55ae-4c5c-adef-30adcf4c1f82" config-ref="Database_Config" autoGenerateKeys="true">
			<db:sql ><![CDATA[${file::db/queries/insert/orders.sql}]]></db:sql>
			<db:input-parameters ><![CDATA[#[output json
---
{
	id: payload.id,
	user_id: payload.userId,
	status: payload.status,
	payment_method: payload.paymentMethod
}]]]></db:input-parameters>
			<db:auto-generated-keys-column-names >
				<db:auto-generated-keys-column-name value="id" />
			</db:auto-generated-keys-column-names>
		</db:insert>
		<set-payload value="#[output json&#10;---&#10;payload.generatedKeys.id]" doc:name="Set Payload" doc:id="e1167713-bebd-48e8-97f4-d1785b2663b5" />
	</flow>
	<flow name="createRetry" doc:id="df4fb002-0b3f-4e49-88c7-d97fa1eb45c5" >
		<db:insert doc:name="Insert" doc:id="2a2eca71-4490-43ab-a99d-b04db854123b" config-ref="Database_Config" autoGenerateKeys="true">
			<db:sql ><![CDATA[${file::db/queries/insert/retry.sql}]]></db:sql>
			<db:input-parameters ><![CDATA[#[output json
---
{
	data: write(payload.order, "json"),
	reason: payload.reason,
	event_id: payload.eventId
}]]]></db:input-parameters>
			<db:auto-generated-keys-column-names >
				<db:auto-generated-keys-column-name value="id" />
			</db:auto-generated-keys-column-names>
		</db:insert>
		<set-payload value="#[output json&#10;---&#10;payload.generatedKeys]" doc:name="Set Payload" doc:id="4356cdf5-8223-4fd3-a640-1f79797e9287" />
	</flow>
	<flow name="getRetries" doc:id="a1e9f6d2-ea0f-4387-a7ee-313b90587c60" >
		<db:select doc:name="Select" doc:id="1cfd1140-3653-4cd1-9b05-0ab176e90d6a" config-ref="Database_Config">
			<db:sql ><![CDATA[${file::db/queries/select/retry.sql}]]></db:sql>
			<db:input-parameters ><![CDATA[#[output json
---
{
	success: false,
	max_retries: Mule::p('retries.max')
}]]]></db:input-parameters>
		</db:select>
		<set-payload value='#[output json&#10;---&#10;payload map (item) -&gt; item update {&#10;	case .data -&gt; read($.value, "json")&#10;}]' doc:name="Set Payload" doc:id="24401d93-c00f-4940-a52d-3dde18f00f00" />
	</flow>
	<flow name="updateRetry" doc:id="6cb68206-f1cb-48f8-8f69-1eb4348b56ae" >
		<db:update doc:name="Update" doc:id="2f39f6cd-6c92-4028-819e-baeb8e2dd6db" config-ref="Database_Config">
			<db:sql ><![CDATA[${file::db/queries/update/retry.sql}]]></db:sql>
			<db:input-parameters ><![CDATA[#[output json
---
{
	id: vars.id,
	success: payload.success,
	retries: payload.retries
}]]]></db:input-parameters>
		</db:update>
		<set-payload value='#[output json&#10;---&#10;"success"]' doc:name="Set Payload" doc:id="55909cc0-9ab1-4443-a4c7-214e53743b20" />
	</flow>
	<flow name="mergeOrder" doc:id="b76ff02c-9276-4c0d-adc3-856dfed6cbe2" >
		<db:insert doc:name="Insert" doc:id="b2890859-8801-43db-b9be-4b53fd636b0e" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO public.orders (id, user_id, status, payment_method, items_value, shipping_fee, total) 
VALUES (:id, :user_id, :status, :payment_method, :items_value, :shipping_fee, :total)
ON CONFLICT (id) 
DO UPDATE SET
	status = COALESCE(EXCLUDED.status, orders.status),
	items_value = COALESCE(EXCLUDED.items_value, orders.items_value),
	shipping_fee = COALESCE(EXCLUDED.shipping_fee, orders.shipping_fee),
	total = COALESCE(EXCLUDED.total, orders.total)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: vars.id,
	user_id: payload.userId,
	status: payload.status,
	payment_method: payload.paymentMethod,
	items_value: payload.itemsValue,
	shipping_fee: payload.shippingFee,
	total: payload.total
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value='#[output json&#10;---&#10;"success"]' doc:name="Set Payload" doc:id="086b8ab0-0d2f-49aa-95e0-32afe9bd4162" />
	</flow>
	<flow name="insertOrderItems" doc:id="5d3daf17-8afe-4d75-80a4-9a1db1e2abc8" >
		<db:bulk-insert doc:name="Bulk insert" doc:id="65990fbf-c72a-459a-85da-74aa9fe84f4c" config-ref="Database_Config">
			<db:bulk-input-parameters ><![CDATA[#[output json
---
payload]]]></db:bulk-input-parameters>
			<db:sql ><![CDATA[#["INSERT INTO order_items (order_id, item_id, quantity, price) VALUES ('$(vars.orderId)', :id, :quantity, :price)"]]]></db:sql>
		</db:bulk-insert>
		<set-payload value='#[output json&#10;---&#10;"success"]' doc:name="Set Payload" doc:id="41597c63-5ba1-4f59-9147-decc2070bbcc" />
	</flow>
	<flow name="getOrders" doc:id="714359a8-120c-460a-9cf8-a39390a6f65a" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="d97ae873-4afe-43bf-9338-34f6277800a1" >
			<route >
				<db:select doc:name="Select" doc:id="30061a48-7db3-4628-825d-020c30d826dc" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT id, total, created_at, status, order_number
  FROM orders 
 WHERE user_id = :userId 
 ORDER BY id ASC
 LIMIT :limit 
OFFSET :offset
]]></db:sql>
			<db:input-parameters><![CDATA[#[vars.query update {
	case .limit! -> $ default 10
	case .offset! -> $ default 0
}]]]></db:input-parameters>
		</db:select>
			</route>
			<route >
				<db:query-single doc:name="Query single" doc:id="917b6270-a484-4413-afed-40b3c4bcfb6a" config-ref="Database_Config">
					<db:sql ><![CDATA[SELECT COUNT(id) as total
  FROM orders 
 WHERE user_id = :userId 
]]></db:sql>
					<db:input-parameters ><![CDATA[#[vars.query]]]></db:input-parameters>
				</db:query-single>
			</route>
		</scatter-gather>
		<set-payload value='#[output json&#10;---&#10;{&#10;	metadata: {&#10;		totalItems: payload."1".payload.total,&#10;	},&#10;	data: payload."0".payload default []&#10;}]' doc:name="Set Payload" doc:id="96b71b1b-f355-4f3c-93d8-631edad3b5a3" />
	</flow>
	<flow name="getOrder" doc:id="ae639bfb-a5d5-42f5-883d-0b09ca1c2ec2" >
		<db:query-single doc:name="Query single" doc:id="950b9a09-e4a1-4255-bfe3-9a7b368e7725" config-ref="Database_Config">
			<db:sql ><![CDATA[${file::db/queries/select/order.sql}]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: vars.id
}]]]></db:input-parameters>
		</db:query-single>
		<set-payload value="#[output json&#10;---&#10;payload]" doc:name="Set Payload" doc:id="7c3bbc62-95ae-4309-8882-070734f84878" />
	</flow>
	<flow name="getOrderItems" doc:id="17cbb1aa-a3c5-45bd-9317-0216c933a524" >
		<db:select doc:name="Select" doc:id="2f6c674a-159d-42a1-89a8-21e5ffe8278e" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT i.id, i.name, i.image, i.description, oi.quantity, oi.price
  FROM order_items oi
  JOIN items i
    ON oi.item_id = i.id
 WHERE oi.order_id = :id ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: vars.orderId
}]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[output json&#10;---&#10;payload]" doc:name="Set Payload" doc:id="d375b5ad-96af-4107-bb60-b7b7a1054a0d" />
	</flow>
</mule>
