api-mulesoft/orders-sapi/src/main/mule/payments.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="getPayments" doc:id="4f304957-3069-43f2-916b-274fa9364a14" >
		<db:select doc:name="Select" doc:id="fb8ad369-3cc1-453e-8643-0cec98268cdf" config-ref="Database_Config">
			<db:sql ><![CDATA[${file::db/queries/select/payments.sql}]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: vars.id
}]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[output json&#10;---&#10;payload]" doc:name="Set Payload" doc:id="3a39957c-93be-4395-a031-488350994b3a" />
	</flow>
	<flow name="insertPayment" doc:id="3bfe71ea-ef5f-4824-acc5-e254852f6ed4" >
		<db:insert doc:name="Insert" doc:id="41d1a4c5-ec50-4346-9486-defbeafcecc6" config-ref="Database_Config" autoGenerateKeys="true">
			<db:sql ><![CDATA[${file::db/queries/insert/payment.sql}]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	order_id: vars.id,
	payment_method: payload.method,
	amount: payload.amount,
	status: payload.status
}]]]></db:input-parameters>
			<db:auto-generated-keys-column-names >
				<db:auto-generated-keys-column-name value="id" />
			</db:auto-generated-keys-column-names>
		</db:insert>
		<set-payload value="#[output json&#10;---&#10;payload.generatedKeys]" doc:name="Set Payload" doc:id="e9bea8ef-0620-4011-8cad-7a3d5920b9f0" />
	</flow>
</mule>
