api-mulesoft/items-sapi/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
    <apikit:config name="Router" api="items.raml" outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" />
    <flow name="health" doc:id="362755f8-990e-47ff-9776-05431e06d372">
        <http:listener doc:name="Listener" doc:id="d5e5c724-1734-4096-a392-b1606460e376" config-ref="HTTP_Listener_config" path="/health">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-payload value="#[output json&#xA;---&#xA;&quot;OK&quot;]" doc:name="Set Payload" doc:id="58a750a5-fe70-4d4c-b35c-c843781d9071" />
    </flow>
    <flow name="interface" doc:id="d24000fc-34d3-4081-9ef2-fa71c0a3ab82">
        <http:listener doc:name="Listener" doc:id="37e3dee7-4f23-49d9-896c-cbfe0599eab6" config-ref="HTTP_Listener_config" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router doc:name="APIkit Router" doc:id="6b7797e0-653d-4834-bb6f-c627305e974c" config-ref="Router" />
        <error-handler ref="Error_Handler_Specs" />
    </flow>
    <flow name="get:\v1\generate:Router">
        <flow-ref doc:name="Flow Reference" doc:id="c0a5ac3b-ccd3-4a2b-ac43-b1eb9c7b4a37" name="generateItem" />
    </flow>
    <flow name="get:\v1\:Router">
		<set-variable value="#[output json&#10;---&#10;attributes.queryParams]" doc:name="Set Variable" doc:id="07357bdb-1426-46ad-a191-0643528a5832" variableName="query"/>
		<flow-ref doc:name="Flow Reference" doc:id="e84f853d-9ab6-41fd-a63c-f489046c415f" name="getItems"/>
    </flow>
</mule>
