api-mulesoft/items-papi/src/main/mule/items.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd">
	<flow name="createItem" doc:id="6f2bc13a-df10-4085-b34f-dfe626df08d4" >
		<http:request doc:name="Request" doc:id="16f3a85e-1b9f-46cb-8403-b6e1bc83eb72" config-ref="items_HTTP_Request_config" path="/generate" method="GET">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"version" : 1
}]]]></http:uri-params>
		</http:request>
		<set-payload value="#[output json&#10;---&#10;payload ++ {&#10;	id: uuid()&#10;}]" doc:name="Set Payload" doc:id="15a419a0-9311-4425-84a2-dcd306afb5d6" />
		<kafka:publish doc:name="Publish" doc:id="cb02ab3c-389e-4894-b020-363d0528d587" config-ref="Apache_Kafka_Producer_configuration" topic="items" key="#[payload.sku]">
			<kafka:message ><![CDATA[#[output json
---
payload]]]></kafka:message>
			<kafka:headers ><![CDATA[#[output json
---
{
	correlationId: correlationId
}]]]></kafka:headers>
		</kafka:publish>
		<set-payload value="#[output json&#10;---&#10;payload]" doc:name="Set Payload" doc:id="f46b6a48-3f40-4e5d-9815-fb443353dbe3" />
	</flow>
</mule>
